body{
    display: grid;
    place-items: center;
    margin:0;
    height:100vh ;
   
}
.poster{
    position: relative;
    flex-direction: column;
    border-radius: 3%;
    background: linear-gradient(to bottom,rgb(211, 211, 211),rgb(0, 0, 0));
    height:  750px;
    width: 550px;
    overflow: hidden;
    
}
.poster img{
  position: absolute;
  left: 10%;
  width: 80%;
  height: 90%;
  top: 10%;
  object-fit:cover;
  display: block; 

}
.title{
    position: absolute;
    display: block;
    left: 30%;
    color: rgb(85, 85, 85);
}
.quote{
  position: absolute;
  left: 10%;
  top: 0;
  display: block;
  font-size: 110px;
  color: white;
  word-wrap: break-word;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.author{
  position:absolute ;
  display: block;
  top: 60%;
  color: white;
  writing-mode: vertical-rl;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px ;
  text-orientation: upright;
}